---
# Front matter so Jekyll processes this file
---

@import "jekyll-theme-chirpy";

/* Your custom CSS below */
body {
  background-color: #111;
  color: #eee;
}

.post-title {
  font-weight: 700;
}
